/*update*/
.card-login{
	width: 350px;
	background: white;
    margin-left: 30px;
    margin-top:20px;
    box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.2), 0 4px 16px 0 rgba(100, 100, 100, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.title{
    font-size: 20px;
}
.sub-title{
    font-weight: bolder;
    font-size: 20px;
}
.form-login{
    margin-top:50px;
}
.input {
    border-radius: 6px;
    width: 95%;
    padding: 15px 10px 15px 10px;
    border:1.5px solid #ced1e0;
    background-color:#f4f7fc;
}
.input-incorrect {
    border-radius: 6px;
    width: 95%;
    padding: 15px 10px 15px 10px;
    border:1.5px solid #d83226;
    background-color:#fff5f4;
}
.input-group{
    margin-top:10px;
    margin-bottom:20px;
}
.form-footer{
    margin-top:40px;
    margin-bottom:20px;
}
.span-alert{
    font-size: 12px;
    color:#d83226;
}
.button-login{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-right: 40px;
    float:right;
    cursor:pointer;
    background: #bbc8e8;
    color:#fff;
    border:1px solid #bbc8e8;
}
.button-login:hover{
    background-color: #708bcc;
}
.forgot-password{
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    color :#d83226;
    cursor: pointer;
}
.inputicon{
    position: sticky;
}
.inputicon img{
    width: 25px;
    float: right;
    margin-right:25px;
    margin-top:-40px;
}
.event{
    cursor: pointer;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ced1e0;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ced1e0;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ced1e0;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ced1e0;
  font-style: italic;
}
