.div-form-login{
    width:100%;
    position: absolute;
    height: 100%;
    background-image: url(../../assets/images/bglogin.png);
    background-size: 75%;
    background-position: right;
    background-repeat: no-repeat;
}
.logo-cimb{
    width: 200px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:30px;
}