body {
  margin: 0;
  height:100%;
  width:100%;
  background-color:#f4f7fc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: 'OpenSansLight';
  src:url(./assets/fonts/OpenSans-Light.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'OpenSansBold';
  src:url(./assets/fonts/OpenSans-Bold.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'OpenSansReguler';
  src:url(./assets/fonts/OpenSans-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
